<div class="page-header">
    <!-- <h2>{{greeting}}</h2> -->
</div>


<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" ng-repeat="x in list">{{x.Heading}}</a>
        <!-- <a class="navbar-brand" href="#" color="black">Navbar</a>
        <a class="navbar-brand" href="#" color="black">Navbar</a>
        <a class="navbar-brand" href="#" color="black">Navbar</a> -->
    </nav>
    <h4>{{greeting}}</h4>
</div>

<!-- <div class="page-header">
    <h2>{{greeting}}</h2>
</div> -->