<div class="page-header">
    <h1>User Registration</h1>
</div>

<!-- Registration Form -->
<form name="registerForm" role="form">
    <!-- Role -->
    <label>Register as:</label>
    <!-- <input class="form-control" type="text" name="email" placeholder="please enter email" ng-model="formData.email"> -->
    <select class="form-control" name="role" ng-model="formData.role" required>
        <option value="" style="display:none;">Role</option>
        <option value="seller">Seller</option>
        <option value="customer">Customer</option>
    </select>
    <br>
    <!-- Username -->
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model="formData.userName">
    <br>
    <!-- Password -->
    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="please enter password" ng-model="formData.password">
    <br>
    <!-- Submit/Register Button -->
    <button class="btn btn-primary" type="submit" ng-click="register()">Register</button>
</form>
<!-- Registration Form -->
