<div class="page-header">
    <h1>User Registration</h1>
</div>

<!-- Registration Form -->
<form name="registerForm" role="form">
    <!-- Email -->
    <label>Email:</label>
    <input class="form-control" type="text" name="email" placeholder="please enter email" ng-model="formData.email">
    <br>
    <!-- Username -->
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model="formData.username">
    <br>
    <!-- Password -->
    <label>Password:</label>
    <input class="form-control" type="password" name="password" placeholder="please enter password" ng-model="formData.password">
    <br>
    <!-- Submit/Register Button -->
    <button class="btn btn-primary" type="submit" ng-click="register()">Register</button>
</form>
<!-- Registration Form -->

<br>

<!-- Loading Icon -->
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon -->

<br>

<!-- Successful Registration Message -->
<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{ register.successMsg }}</div>
</div>
<!-- Successful Registration Message -->

<br>

<!-- Failed Registration Message -->
<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>
<!-- Failed Registration Message -->